@font-face{
    font-family: font-1st;
    src: url("./fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

body{
    font-family: font-1st;
    margin: 0px;
    padding: 0px;
}

.one{
padding-bottom: 6px;
}

.main1{
    height: 100vh; 
    display: flex; 
    justify-content: center;
}

.ll{
    background-color: rgb(206, 88, 19);
    color: black; 
    font-size: medium; 
    padding-bottom: 30px;
}
.main2{
    background-color: magenta; 
    flex:1; 
    display:flex; 
    flex-direction: column; 
    justify-content: space-between; 
    margin:35px;
    margin-top:0px;
}
.rating{
    background-color: cadetblue; 
    font-size:12px; 
    font-weight: 500; 
    padding-bottom: 0px; 
    display:flex;
}

.two{
    background-color: saddlebrown; 
    flex:1; 
    display:flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content:space-between;
}